
  body {
      background: linear-gradient(-45deg, #df5bbe, #4e1542);
      background-size: 400% 400%;
      animation: gradient 5s ease infinite;
      height: 100vh;
  }
  @keyframes gradient {
      0% {
          background-position: 0% 50%;
      }
      50% {
          background-position: 100% 50%;
      }
      100% {
          background-position: 0% 50%;
      }
  }
  /*-------------------------------------------------------------------------------------------------*/
  /* Interlace *//*
  body::after {
    content: '';
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
      rgba(0,0,0,.2) 0px,
      rgba(0,0,0,.1) 1px,
      rgba(0,0,0,.2) 2px,
      rgba(0,0,0,.1) 5px
    );
    background-size: 100% 10px;
    animation: interference 0.25s steps(4) infinite;
    z-index: -1;
    transform:translateZ(size);
  }
  @keyframes interference {
    to {
      transform: translateY(-1em) translateZ(10px);
    }
  }*/
  /*-------------------------------------------------------------------------------------------------*/
 h1 {
    font-family: 'Pixeled';
    color: #ffffff;
    text-align: center;
    src: url('./Pixeled.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 28px;
    text-shadow: 0 0 10px rgb(252, 169, 255);
    transition: text-shadow 0.2s ease-in-out;
    margin: 30px auto;
    line-height: 1.3;
}
h1:hover {
    text-shadow: 0 0 15px rgb(251, 148, 255);
}
p {
    color: #ffffff;
    text-align: center;
}

img {
    display: block;
    margin: 20px auto;
    overflow: hidden;
}
/*--------------------------------------------------------------------------------------------------------*/
/*PIE DE PAGINA*/
.img_pie_izquierda {
    position: fixed;
    bottom: 0;
    left: 5%;
    width: 10%;
    transform: translateY(-50%);
  }
  .img_pie_derecha_1 {
    position: fixed;
    bottom: 0%;
    right: 5%;
    width: 10%;
    transform: translateY(-50%);
  }
  .img_pie_derecha_2 {
    position: fixed;
    bottom: 0%;
    right: 16%;
    width: 10%;
    transform: translateY(-50%);
  }
  .menu-button {
    position: fixed;
    top: 7%;
    left: 7%;
    cursor: pointer;
    width: 3%;
    transform: translateY(-50%);
    transition: filter 0.3s ease;
    z-index: 9998;
    filter: drop-shadow(0 0 10px rgba(255, 106, 248, 0.192));
    opacity: 0.4;
  }
  .menu-button:hover {
    filter: drop-shadow(0 0 10px rgba(255, 106, 248, 0.808));
    opacity: 0.8;
  }
/*--------------------------------------------------------------------------------------------------------*/
/* SWIPE */
#cardContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.card {
}
.card img {
    width: 75%;
    height: 75%;
    object-fit: cover;
}
/* Fix para Bordes */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
}
/* SOPA DE LETRAS */
#main {
	width: 70em;
	height: 51em;
	margin: 10px auto;
	display: block;
}
.left { /* Borde sopa de letras */
	float: left;
	width: 820px;
	height: auto;
	border: 10px solid #ffffff2f;
	border-radius: 8px;
	box-shadow: 0 10px 6px -6px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 10px 6px -6px rgba(248, 40, 255, 0.5);
	-webkit-box-shadow: 0 10px 6px -6px rgba(198, 76, 255, 0.5);
}
.letters span { /* Fondo sopa de letras */
	float:left;
	width: 40px;
	height: 40px;
	background: rgb(145, 73, 133);
	line-height: 43px;
	text-align: center;
	font-size: 1em;
}
.letters { /* Letras en sopa*/
    color: #ebebebec;
	font-size: 1.3em;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 550;
}
.right { /* Borde contenedor de palabras */
	float: right;
	width: 240px;
	height: auto;
	border: 10px solid #ffffff2f;
	border-radius: 8px;
	box-shadow: 0 10px 6px -6px rgba(255, 255, 255, 0.5);
	-moz-box-shadow: 0 10px 6px -6px rgba(248, 40, 255, 0.5);
	-webkit-box-shadow: 0 10px 6px -6px rgba(198, 76, 255, 0.5);
}
.words span { /* Fondo de Contenedor de palabras */
	float:left;
	width: 220px;
	height: 40px;
	background: rgb(145, 73, 133);
	line-height: 45px;
	text-align: center;
}
.words { /* Palabras */
    color: rgb(219, 219, 219);
	font-size: 1.3em;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 550;
}
.blur {
	color: transparent;
   	text-shadow: 0 0 6px rgba(255, 255, 255, 0.7);
}
.strike {
  text-decoration: line-through;
}
canvas {
	position: absolute;
	display: block;
	float: left;
}
.Swipe_Izquierda{
    position: absolute;
    top:50%;
    right:70%;
    width: 10%;
    opacity: 0.8;
    z-index: 9998;
    transition: filter 0.2s ease;
    filter: drop-shadow(0 0 rgb(0, 0, 0));
  }
  .Swipe_Izquierda:hover {
    filter: drop-shadow(0 0 10px rgb(255, 63, 63));
    opacity: 1;
  }
  .Swipe_Derecha{
    position: absolute;
    top:50%;
    left:70%;
    width: 10%;
    opacity: 0.8;
    z-index: 9998;
    transition: filter 0.2s ease;
    filter: drop-shadow(0 0 rgb(0, 0, 0));
  }
  .Swipe_Derecha:hover {
    filter: drop-shadow(0 0 10px rgb(92, 255, 59));
    opacity: 1;
  }
  .correct{
    position: absolute;
    top: 20%;
    transform: translateY(-50%);
    font-family: 'Pixeled';
    color: #ffffff;
    text-align: center;
    opacity: 0.9;
    filter: drop-shadow(0 0 10px rgb(1, 255, 1));
  }
  .incorrect{
    position: absolute;
    top: 25%;
    transform: translateY(-50%);
    font-family: 'Pixeled';
    color: #ffffff;
    text-align: center;
    opacity: 0.9;
    filter: drop-shadow(0 0 10px rgb(255, 166, 1));
  }
  .score-text {
    position: absolute;
    top: 90%;
    right: 46%;
    transform: translateY(-50%);
    font-family: 'Pixeled';
    filter: drop-shadow(0 0 10px rgb(255, 255, 255));
}