body {
  margin: 40px 0;
  font-family: "Raleway";
  font-size: 14px;
  font-weight: 500;
  background-color: #470c38;
  /*-webkit-font-smoothing: antialiased;*/
}
/*body {
	background: linear-gradient(-45deg, #df5bbe, #4e1542);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}*/
.special-bg-page {
  background-image: url('./IMG/PANTALLA.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

/*-------------------------------------------------------------------------------------------------*/
/* Interlace */
/*
body::after {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: linear-gradient(
    rgba(0,0,0,.2) 0px,
    rgba(0,0,0,.1) 1px,
    rgba(0,0,0,.2) 2px,
    rgba(0,0,0,.1) 5px
  );
  background-size: 100% 8px; 
  z-index: -1;
}
*/
/* Fondo Radial */
#gradient {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
#gradient::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(ellipse farthest-corner at center top, #c456a8, #641d55);
}
/*-------------------------------------------------------------------------------------------------*/
.title {
  font-family: "Pixeled";
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}
p {
  line-height: 1.5em;
}
h1 {
  font-family: 'Pixeled';
  color: #ffffff;
  text-align: center;
  src: url('./Pixeled.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 28px;
  text-shadow: 0 0 10px rgb(252, 169, 255);
  transition: text-shadow 0.2s ease-in-out;
  margin: 30px auto;
  line-height: 1.3;
}
h1:hover {
  text-shadow: 0 0 15px rgb(251, 148, 255);
}
h2 {
  font-family: 'Pixeled';
  color: #ffffff;
  text-align: center;
  src: url('./Pixeled.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 22px;
  text-shadow: 0 0 20px rgb(53, 248, 255);
  transition: text-shadow 0.2s ease-in-out;
}
h2:hover {
  text-shadow: 0 0 10px rgb(182, 255, 255);
}
.smaller {
  font-size: 0.8em;
}
.container {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.card-wrap {
  margin: 10px; /* MARGEN ENTRE CARTAS JS*/
  transform: perspective(800px);
  transform-style: preserve-3d;
  cursor: pointer;
}
.card-wrap:hover .card-info {
  transform: translateY(0);
}
.card-wrap:hover .card-info p {
  opacity: 1;
}
.card-wrap:hover .card-info, .card-wrap:hover .card-info p {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}
.card-wrap:hover .card-info:after {
  transition: 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 1;
  transform: translateY(0);
}
.card-wrap:hover .card-bg {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), opacity 5s cubic-bezier(0.23, 1, 0.32, 1);
  opacity: 0.8;
}
.card-wrap:hover .card {
  transition: 0.6s cubic-bezier(0.23, 1, 0.32, 1), box-shadow 2s cubic-bezier(0.23, 1, 0.32, 1);
  box-shadow: rgba(248, 32, 255, 0.342) 0 0 40px 5px, white 0 0 0 1px, rgba(174, 53, 255, 0.384) 0 30px 60px 0, inset #333 0 0 0 5px, inset white 0 0 0 6px;
}
.card { /* TAMAÑO DE CARTAS JS*/
  position: relative;
  flex: 0 0 240px;
  width: 235px;
  height: 315px;
  background-color: #333;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(171, 69, 255, 0.226) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.247) 0 0 0 6px;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.card-bg {
  opacity: 0.5;
  position: absolute;
  top: -20px;
  left: -20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: 1s cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  pointer-events: none;
}
.card-info {
  padding: 20px;
  position: absolute;
  bottom: 0;
  color: #fff;
  transform: translateY(40%);
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info p {
  font-family: 'Josefin Sans', sans-serif;
  opacity: 0;
  text-shadow: rgba(0, 0, 0, 0.651) 0 2px 3px;
  transition: 0.6s 1.6s cubic-bezier(0.215, 0.61, 0.355, 1);
}
.card-info * {
  position: relative;
  z-index: 1;
}
.card-info:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.6) 100%);
  background-blend-mode: overlay;
  opacity: 0;
  transform: translateY(100%);
  transition: 5s 1s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}
.card-info h1 {
  font-family: "Pixeled";
  font-size: 24px;
  font-weight: 700;
  text-shadow: rgba(0, 0, 0, 0.253) 0 10px 10px;
}
/*--------------------------------------------------------------------------------------------------------*/
/*PIE DE PAGINA*/
.img_pie_izquierda {
  position: fixed;
  bottom: 0;
  left: 5%;
  width: 10%;
  transform: translateY(-50%);
}
.img_pie_derecha_1 {
  position: fixed;
  bottom: 0%;
  right: 5%;
  width: 10%;
  transform: translateY(-50%);
}
.img_pie_derecha_2 {
  position: fixed;
  bottom: 0%;
  right: 16%;
  width: 10%;
  transform: translateY(-50%);
}
.img_pie_derecha_3 {
  position: fixed;
  bottom: 0%;
  right: 6%;
  width: 10%;
  transform: translateY(-50%);
}
.menu-button {
  position: fixed;
  top: 7%;
  left: 7%;
  cursor: pointer;
  width: 50px;
  transform: translateY(-50%);
  transition: filter 0.3s ease;
  z-index: 9998;
  filter: drop-shadow(0 0 10px rgba(255, 106, 248, 0.192));
  opacity: 0.4;
}
.menu-button:hover {
  filter: drop-shadow(0 0 10px rgba(255, 106, 248, 0.808));
  opacity: 0.8;
}
/*-------------------------------------------------------------------------------------------------*/
/* TRANSFER */
.contenedor {
  width: 75%; /* El contenedor ocupará el 70% del ancho de la pantalla */
  height: 50vh; /* El contenedor ocupará el 70% de la altura de la pantalla */
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Agregar sombra al contenedor */
}
.boton_inicio {
  background-color: #663366;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: absolute; /* Cambio a posición absoluta */
  top: 80%; /* Centrado verticalmente */
  left: 50%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste final para centrado */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 24px;
  z-index: 9998;
  transition: background-color 0.3s; /* transición para un cambio suave */
}
.boton_inicio:hover {
  background-color: #ffff00; /* Cambiar color al hacer hover */
  color: #663366; /* Cambiar color del texto al hacer hover */
}
.boton_enviar{
  background-color: #663366;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: absolute; /* Cambio a posición absoluta */
  top: 85%; /*  verticalmente */
  left: 50%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste final para centrado */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 24px;
  transition: background-color 0.3s; /* transición para un cambio suave */
}
.boton_enviar:hover {
  background-color: #ffff00; /* Cambiar color al hacer hover */
  color: #663366; /* Cambiar color del texto al hacer hover */
}
.campo_nombre{
  font-size: 20px;
  position: absolute;
  top: 40%;
  left: 30%;
  right: 5%;
  transform: translateY(-50%);
  border-radius: 8px;
}
.texto_nombre{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 20px;
  position: absolute;
  top: 40%; 
  right: 71%;
  transform: translateY(-50%);
}
.feedback_nombre{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 15px;
  color:rgb(150, 19, 63);
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.campo_correo{
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 30%;
  right: 10%;
  transform: translateY(-50%);
  border-radius: 8px;
}
.texto_correo{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 20px;
  position: absolute;
  top: 50%; 
  right: 71%;
  transform: translateY(-50%);
}
.feedback_correo{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 15px;
  color:rgb(150, 19, 63);
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.campo_destino{
  font-size: 20px;
  position: absolute;
  top: 60%;
  left: 30%;
  right: 10%;
  transform: translateY(-50%);
  border-radius: 8px;
}
.texto_destino{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 20px;
  position: absolute;
  top: 60%; 
  right: 71%;
  transform: translateY(-50%);
}
.feedback_destino{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 15px;
  color:rgb(150, 19, 63);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.campo_monto{
  font-size: 20px;
  position: absolute;
  top: 70%;
  left: 30%;
  right: 10%;
  transform: translateY(-50%);
  border-radius: 8px;
}
.texto_monto{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 20px;
  position: absolute;
  top: 70%; 
  right: 71%;
  transform: translateY(-50%);
}
.feedback_monto{
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 15px;
  color:rgb(150, 19, 63);
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.boton_puntaje{
  background-color: #ffff00;
  color: 663366;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: absolute; /* Cambio a posición absoluta */
  top: 85%; /*  verticalmente */
  left: 85%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste final para centrado */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 14px;
  transition: background-color 0.3s; /* transición para un cambio suave */
}
.boton_puntaje:hover {
  background-color: #ffa600; /* Cambiar color al hacer hover */
  color: #582658; /* Cambiar color del texto al hacer hover */
}
.mostrar-contador {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  text-align: center;
  font-family: 'Pixeled';
  color:#582658;
  text-shadow: 0 0 15px rgb(255, 198, 252);
}
.boton_reinicio {
  background-color: #663366;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: absolute; /* Cambio a posición absoluta */
  top: 85%; /* Centrado verticalmente */
  left: 50%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste final para centrado */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 24px;
  transition: background-color 0.3s; /* transición para un cambio suave */
}
.boton_reinicio:hover {
  background-color: #ffff00; /* Cambiar color al hacer hover */
  color: #663366; /* Cambiar color del texto al hacer hover */
}
.boton_puntajefinal{
  background-color: #ffff00;
  color: 663366;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 24px;
  transition: background-color 0.3s;
}
.boton_puntajefinal:hover {
  background-color: #ffa600;
  color: #582658;
}
.boton_recargar{
  background-color: #ffff00;
  color: #663366;
  padding: 8px 5px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: absolute; /* Cambio a posición absoluta */
  top: 85%; /*  verticalmente */
  left: 20%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste final para centrado */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 14px;
  transition: background-color 0.3s; /* transición para un cambio suave */
}
.boton_recargar:hover {
  background-color: #ffa600; /* Cambiar color al hacer hover */
  color: #582658; /* Cambiar color del texto al hacer hover */
}
.instrucciones{
  color: #663366;
  position: absolute; /* Cambio a posición absoluta */
  top: 50%; /* Centrado verticalmente */
  left: 50%; /* Centrado horizontalmente */
  transform: translate(-50%, -50%); /* Ajuste final para centrado */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 20px;
  text-align:justify;
  text-align-last:left;
  width: 90%;
  line-height: 1;

}
/*-------------------------------------------------------------------------------------------------*/
/* Pacman */
.img_pacman {
  width: 60px; /* Ancho original de la imagen */
  height: auto; /* Altura ajustada automáticamente para mantener la proporción */
  position: absolute;
  z-index: 9995;
  left: 50%; /* Centrado horizontalmente */
  top: 470px;
  transform: translate(-50%, -50%); /* Ajuste final para centrado */
}
#pacman {
  height:743px;
  width:564px;
  margin:50px auto;
}
@font-face {
  font-family: 'Pixeled';
  src: url('Pixeled.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*-------------------------------------------------------------------------------------------------*/
/* Controles */
.controles{
  position: fixed;
  top: 45%;
  right: 5%;
  width: 150px;
  height:150px;
  transform: translateY(-50%);

  border: none;
  border-radius: 25px;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
}
.boton_e{
  background-color: #4d174d;
  color: #eeff00;
  padding: 5px 10px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 20px;
  transition: background-color 0.3s;
  z-index: 9995;
}
.boton_p{
  background-color: #4d174d;
  color: #eeff00;
  padding: 5px 15px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 20px;
  transition: background-color 0.3s;
  z-index: 9995;
}
.boton_up{
  background-color: #4d174d;
  color: #eeff00;
  padding: 6px 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 30px;
  transition: background-color 0.3s;
  z-index: 9995;
}
.boton_down{
  background-color: #4d174d;
  color: #eeff00;
  padding: 6px 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 30px;
  transition: background-color 0.3s;
  z-index: 9995;
}
.boton_right{
  background-color: #4d174d;
  color: #eeff00;
  padding: 6px 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 80%;
  transform: translate(-50%, -50%);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 30px;
  transition: background-color 0.3s;
  z-index: 9995;
}
.boton_left{
  background-color: #4d174d;
  color: #eeff00;
  padding: 6px 6px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 30px;
  transition: background-color 0.3s;
  z-index: 9995;
}
/*-------------------------------------------------------------------------------------------------*/
/* CIPHER */
.boton_letra {
  /* Define your button styles here */
  background-color: #ffffff28;
  color: #ffffff; /* Example text color */
  padding: 5px 10px; /* Example padding */
  border-radius: 4px; /* Example border radius for rounded corners */
  border-color: #ffffff;
  border-width: 2px;
  font-size: 18px; /* Example font size */
  font-family: 'Josefin Sans', sans-serif;
  font-weight: bold;
  margin: 1px;
  box-shadow: 0px 0px 4px rgba(255, 255, 255, 0.253); 
}
.boton_letra:hover {
  color:rgb(240, 255, 28);
  background-color: #663366;
  box-shadow: 0px 0px 6px rgba(255, 255, 255, 0.616); 
}
.intentos{
  font-family: 'Pixeled';
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: 0 0 10px rgb(255, 226, 244);
  margin-top: 0%;
}
#keyboard{
  font-family: 'Pixeled';
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
.guiones{
  font-family: 'Pixeled';
  color: #fcff56;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  text-shadow: 0 0 10px rgb(243, 255, 77);
  margin-top: 0%;
}
.b_reiniciar {
  font-family: 'Pixeled';
  color: white;
  background-color: #ffbc40;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  padding: 8px 12px;
  transition: all 0.3s ease;
  box-shadow: 0px 4px 6px rgba(255, 255, 255, 0.425); 
}

.b_reiniciar:hover {
  color: rgb(175, 104, 22);
  box-shadow: 0px 4px 6px rgba(255, 251, 28, 0.425);
}
#hangmanPic {
  filter:opacity(75%);
  width: 10%;
  filter: drop-shadow(0 0 10px rgba(215, 57, 255, 0.678));
}

.pcorrectas{
  font-family: 'Pixeled';
  color: #2ec521;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: 0 0 10px rgb(107, 255, 22);
  margin-top: 0%;
}
.pincorrectas{
  font-family: 'Pixeled';
  color: #ffaa3b;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  text-shadow: 0 0 10px rgb(255, 167, 67);
  margin-top: 0%;
}

/*-------------------------------------------------------------------------------------------------*/
/* TRANSFER 365*/
.contenedor365{
  width: 300px;
  height: 300px; 
  border: 1px solid white;
  border-radius: 20px;
  padding: 10px;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(230, 230, 230);
  box-shadow: 0px 5px 10px #1f1f1f7e;
}
.titulo365{
  color: #1f1f1f;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 28px;
  position: absolute;
  text-align: center;
}
.instrucciones365{
  position: absolute;
  color: #1f1f1f;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 14px;
  line-height: 1;
  justify-content: center;
}
.botones_jugadores365{
  width: 200px;
  background-color: #663366;
  color: rgb(235, 235, 235);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}
.botones_jugadores365:hover{
  background-color: #381c38;
}
.botones_365_2{
  width: 200px;
  background-color: #663366;
  color: rgb(235, 235, 235);
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 24px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}
.botones_365_2:hover{
  background-color: #381c38;
}
.botones_365_Atras{
  width: 200px;
  background-color: rgba(230, 230, 230, 0);
  color: #663366;
  border: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 18px;
  align-items: center;
  justify-content: center;
  transition: color 0.2 ease;
}
.botones_365_Atras:hover{
  color: #634b63;
}
.cantidad_transferir{
  color: #1f1f1f;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 80px;
  position: absolute;
  text-align: center;
}
.cantidad_transferir2{
  color: #1f1f1f;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 50px;
  position: absolute;
  text-align: center;
}
.botones_monto{
  width: 60px;
  background-color: #663366;
  color: rgb(235, 235, 235);
  border: none;
  padding: 0px 5px;
  border-radius: 60px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 60px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}
.botones_monto:hover{
  background-color: #381c38;
}
.botones_confirmar{
  width: 155px;
  background-color: #663366;
  color: rgb(235, 235, 235);
  border: none;
  padding: 10px 10px;
  border-radius: 20px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 20px;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
}
.botones_confirmar:hover{
  background-color: #381c38;
}
.confirmar365{
  position: absolute;
  color: #1f1f1f;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 14px;
  line-height: 1;
  text-align: center;
}
.sinfondo{
  color: #1f1f1f;
  width: 250px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 20px;
  position: absolute;
  text-align: justify;
}
.transaccion_aprobada{
  color: #1f1f1f;
  width: 250px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 550;
  font-size: 20px;
  position: absolute;
  text-align: center;
}